* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

/*Seccion*/
section {
  display: flex;
  width: 100%;
}

/*Clase Sidebar*/
.sidebar {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 1rem;

}

.search {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-list {
  list-style: none;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact h4 {
  margin-bottom: 4px;
  font-size: 16px;
}

.status {
  font-size: 12px;
  color: #666;
}

/*chat Aiden Chavez*/
.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fafafa
}

/*converzacion princpal*/
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}