* {
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

main {
  flex: 1;

}



/*Seccion*/
.container {
  display: flex;

  width: 100%;

}

/*Clase Sidebar*/
.sidebar {

  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 10px;

}

.search {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-list {
  list-style: none;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;

}

.chavez {
  background-color: #ededed;
  border-radius: 4px;

}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contact h4 {
  margin-bottom: 4px;
  font-size: 16px;
}

.status {
  font-size: 12px;
  color: #666;

}

.status::before {
  content: "• ";
  color: red;

}

.status-inline {
  font-size: 12px;
  color: #666;
}

.status-inline::before {
  content: "• ";
  color: green;
}


/*chat Aiden Chavez*/
.margen-superior {
  display: flex;
  justify-content: space-between;

}

.chat {
  display: flex;
  flex-direction: column;


  background-color: #fafafa;


}

/*converzacion princpal*/
.chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;

  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-header h3 {
  font-size: 18px;
  margin-right: auto;
}

.chat-header p {
  font-size: 12px;
  color: #888;
}

/*Botones*/
.chat-actions {
  display: flex;
  gap: 10px;




}

.chat-actions button {

  padding: 6px 10px;
  border: none;
  font-size: 18px;
  background-color: transparent;




}

/*Mensajes*/
.chat-messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  gap: 20px;

}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;


}



.sent {
  background-color: #e2ffc7;
  display: flex;
  justify-content: end;




}

.received {
  background-color: #ededed;
  width: 50%;





}

.AM {
  width: 25%
}

.timesstamp {
  font-size: 10px;
  color: #999;
  margin-top: 4px;
  text-align: right;
  display: flex;
}

/* Footer del chat */
.chat-footer {
  display: flex;
  justify-content: space-between;


  gap: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;


}

.chat-footer input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;


}



.chat-footer button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 18px;
  background-color: transparent;


}